* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --base-grid: 100%/14;
    --secondary-color: #151226;
    --contrast-color: #292631;
  }

  html {
    height: 100vh;
  }

  canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 100vh;
    max-width: 100vw;
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: myFont;
    src: url(osaka.woff);
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #151226;
  }

  .maru {
    opacity: 0;
    width: calc(var(--base-grid)*5);
    position: absolute;
    left: calc(var(--base-grid)*4);
    top: 10%;
    z-index: -1;
    animation: on-load .8s ease-in-out forwards, maru .8s linear 2s forwards;
  }

  .overlay h2{
    position: absolute;
    top: calc(var(--base-grid)*2);
    left: calc(var(--base-grid)*2);
    width: calc(var(--base-grid)*1.5);
    font-size: 180px;
    font-family: myFont;
    color: antiquewhite;
    animation: on-load .8s ease-in-out forwards, heading .8s linear 2s forwards;
  }

  .image-content {
    opacity: 0;
    width: calc(var(--base-grid)*5*0.8);
    position: absolute;
    left: calc(var(--base-grid)*2.5 - 20px);
    top: 8%;
    animation: image-content .8s linear 2.5s forwards;
  }

  .text-content {
    opacity: 0;
    width: calc(var(--base-grid)*5*0.8);
    position: absolute;
    right: calc(var(--base-grid)*2.5);
    top: 25%;
    animation: image-content .8s linear 2s forwards;
  }
  .text-content h3{
    color: #F1C907;
  }

  .text-content h4, p{
    color: #FFF8F8;
  }

  .kanji {
    font-family: myFont;
    font-size: 250px;
    overflow: hidden;
    color: #FFF8F8;
    opacity: 0;
    position: absolute;
    right: calc(var(--base-grid)*0.5);
    top: 50%;
    animation: kanji .8s linear 4s forwards;
  }

  @keyframes heading {
    0% {
      transform: scale(.95) translateX(-50px);
    }
    25% {
      transform: scale(.8) translateX(-300px);
    }
    50% {
      transform: scale(.7) translateX(-600px);
      
    }
    75% {
      transform: scale(.6) translateX(-850px);
     
    }
    100% {
      transform: scale(.5) translateX(-1050px);
      
    }
  }

  @keyframes maru {
    0% {
      transform: scale(.9) translateX(-5px);
    }
    25% {
      transform: scale(.8) translateX(-50px);
    }
    50% {
      transform: scale(.8) translateX(-100px);
      
    }
    75% {
      transform: scale(.8) translateX(-200px);
     
    }
    100% {
      transform: scale(.8) translateX(-260px);
      
    }
  }

  @keyframes on-load {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    70% {
      opacity: .7;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes image-content {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .6;
    }
    100% {
      opacity: 1;
      
    }
  }

  @keyframes kanji {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .05;
    }
    100% {
      opacity: .1;
      
    }
  }

  /*small screen PC, vertical ipad*/
  @media screen and (max-width: 1366px) {
    .overlay h2{
      position: absolute;
      top: calc(var(--base-grid)*2);
      left: 40%;
      width: calc(var(--base-grid)*1.5);
      font-size: 180px;
      font-family: myFont;
      color: antiquewhite;
  }
  .maru {
    width: calc(var(--base-grid)*5);
    position: absolute;
    left: calc(var(--base-grid)*4);
    top: 10%;
  }
  
  }

  /*big screen PC*/
  @media screen and (min-width: 1367px) {
    
  }

  /*ipad, horizontal*/
  @media screen and (max-width: 768px) {
    
  }

  /*phones from iphone 6 to X*/
  @media screen and (max-width: 414px) {
    
  } 
  
