* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --base-grid: 100%/14;
    --secondary-color: #151226;
    --contrast-color: #292631;
  }

  @font-face {
    font-family: myFont;
    src: url(osaka.woff);
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #151226;
  }

  .maru {
    width: calc(var(--base-grid)*5);
    position: absolute;
    left: calc(var(--base-grid)*4);
    top: 10%;
    animation: maru .6s linear forwards;
  }

  .overlay h2{
    position: absolute;
    top: calc(var(--base-grid)*2);
    left: calc(var(--base-grid)*2);
    width: calc(var(--base-grid)*1.5);
    font-size: 180px;
    font-family: myFont;
    color: antiquewhite;
    animation: heading .6s linear forwards;
  }

  @keyframes heading {
    0% {
      transform: scale(.9) translateX(-200px);
    }
    25% {
      transform: scale(.8) translateX(-400px);
    }
    50% {
      transform: scale(.7) translateX(-600px);
      
    }
    75% {
      transform: scale(.6) translateX(-800px);
     
    }
    100% {
      transform: scale(.5) translateX(-1050px);
      
    }
  }

  @keyframes maru {
    0% {
      transform: translateX(-100px);
    }
    25% {
      transform: translateX(-200px);
    }
    50% {
      transform: translateX(-400px);
      
    }
    75% {
      transform: translateX(-600px);
     
    }
    100% {
      transform: translateX(-800px);
      
    }

  /*small screen PC, vertical ipad*/
  @media screen and (max-width: 1366px) {
    .overlay h2{
      position: absolute;
      top: calc(var(--base-grid)*2);
      left: 40%;
      width: calc(var(--base-grid)*1.5);
      font-size: 180px;
      font-family: myFont;
      color: antiquewhite;
  }
  .maru {
    width: calc(var(--base-grid)*5);
    position: absolute;
    left: calc(var(--base-grid)*4);
    top: 10%;
  }
  
  }

  /*big screen PC*/
  @media screen and (min-width: 1367px) {
    
  }

  /*ipad, horizontal*/
  @media screen and (max-width: 768px) {
    
  }

  /*phones from iphone 6 to X*/
  @media screen and (max-width: 414px) {
    
  } 
  
